* {
    font-family: 'Mukta', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #FFFFFF;
}

header {
    height: 10%;
    padding: 0;
    border-bottom: 1px solid #193046;
    background-color: #4189A8;
}

main {
    height: 80%;
}

footer {
    width: 100%;
    height: 10%;
    bottom: 0px;
    position: fixed;
    background-color: #343434;
}

.pure-menu-horizontal {
    height: 100%;
}

.pure-menu-list {
    height: 100%;
}

.pure-menu-item {
    height: 100%;
}

.pure-menu-link {
    color: #EEF5FF;
}

.pure-menu-link:hover {
    color: #4189A8;
    background-color: #EEF5FF;
}

.drop-down {
    color:  #193046;
}

.centered-text {
    text-align: center;
}

.rounded-button {
    border-radius: 15px;
}

.centering-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-vertical-margin {
    margin-bottom: 0;
    margin-top: 0;
}

.negative-top-margin {
    margin-top: -3em;
}

.pure-button-primary{
    background-color: #4189A8;
}

.small-text {
    font-size: small;
}

.full-height {
    height: 100%;
}

#app {
    height: 100%;
}

#right {
    float: right;
}

#left {
    float: left;
}

#checkin-location-button {
    width: 98%;
}

#checkin-form-no-vertical-padding {
    padding-bottom: 0;
    padding-top: 0;
}

#checkin-form-legend-no-top-padding {
    padding-top: 0;
}