* {
    font-family: 'Mukta', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    height: 100%;
}

header {
    height: 10%;
    padding: 0;
    border-bottom: 1px solid white;
    background-color: #4189A8;
}

main {
    height: 80%;
}

footer {
    width: 100%;
    height: 10%;
    bottom: 0px;
    background-color: #343434;
}

h1 {
    color: #175873;
}

h4 {
    color: white;
    background-color: #193046;
    margin: 0;
    padding: 0.5em;
    border-bottom: 1px solid white;
}

.pure-menu-horizontal {
    height: 100%;
}

.pure-menu-list {
    height: 100%;
}

.pure-menu-item {
    height: 100%;
}

.pure-menu-link {
    color: #EEF5FF;

}

.pure-menu-link:focus {
    color: #EEF5FF;
    background-color: #4189A8;
}

.flex{
    height: 100%;
    display: flex;
    align-items: center;
}

.flex2{
    height: 100%;
    display: flex;
    align-items: center;
}

.flex:hover, .flex:hover > .pure-menu-link {
    color: #4189A8;
    background-color: #EEF5FF;
}

.drop-down {
    color:  #4189A8;
    background-color: #EEF5FF;
    width: 100%;
}

.drop-down.pure-menu-link:focus {
    color: #4189A8;
    background-color: white;
}

.drop-down:hover {
    background-color: white;
}

.centered-text {
    text-align: center;
}

.rounded-button {
    border-radius: 15px;
}

.centering-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-vertical-margin {
    margin-bottom: 0;
    margin-top: 0;
}

.negative-top-margin {
    margin-top: -3em;
}

.pure-button-primary {
    background-color: #4189A8;
}

.small-text {
    font-size: small;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.full-height {
    height: 100%;
}

.fa-user {
    padding-left: 0.5em;
}

.pure-g {
    height: 100%;
}

.pure-u-1-4 {
    height: 100%;
}

.pure-form {
    margin: 0;
}

.checkin {
    background-color: #EEF5FF;
    margin: 1em 0;
    padding: 0.5em;
}

.hotspot {
    background-color: #EEF5FF;
    margin: 1em 0;
    padding: 0.5em;
}

.pure-u-3-4 {
    height: 100%;
}

.fa-dna{
    font-size: 2.7em;
    margin-right: 0.5em;
    margin-left: 0.2em;
}

.logo{
    display:flex;
    align-items:center;
    height:100%;
}

.logo-text {
    margin: 0;
    font-size: 1em;
}

.vl {
  border-left: 2px solid grey;
  float: left;
  height: 60vh;

}

.center-item-h {
  margin: 0 auto;
  width: 50%;
}


.fa-exclamation-triangle {
    color: orange;
}


.bottom-border {
    border-bottom: 1px solid black;
}

.fact-dashboard {
    display: block;
    text-align: center;
    color: #175873;
    width: auto;
}

.fact-text {
    text-align:center;
    color: #FFFFFF;
    padding: 0em 1em;
}

.fact-text1 {
    text-align:center;
    color: #FFFFFF;
    padding: 0em 1em;
}

.fact-container1 {
    display: flex;
    flex-direction: column;
}

.fact-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2%;
    padding: 0% 1% 0% 3%;
}

.fact-header {
     color: black;
     margin: -1% 0% 1% 0%;
}

.fact1 {
    display: inline-block;
    background-color: #8CB89F;
    border: 1px solid #8CB89F;
    padding: 3%;

    flex-grow: 3;
}

.fact2 {
    display: inline-block;
    background-color: #175873;
    border: 1px solid #175873;
    padding: 3%;

    flex-grow: 1;
}

.fact3 {
    display: inline-block;
    background-color: #193046;
    border: 1px solid #193046;
    padding: 3%;

    flex-grow: 3;
}

.fact4 {
    display: inline-block;
    background-color: #4189A8;
    border: 1px solid #4189A8;
    padding: 3%;
    flex-grow: 2;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-link {
    color: #FFFFFF;
    text-decoration: none;
    padding: 1em;
}

.footer-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.minimap-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:-2%;
    padding: 0% 1% 0% 3%;
}

.hotspot-title {
    color: #193046;
    background-color: white;
    border-bottom: 2px solid #193046;
}

/*
.hide-menu {
    display: none;
}*/

#table-no-border {
    border: 0;
}

#app {
    height: 100%;
}

#right {
    float: right;
}

#left {
    float: left;
}

#checkin-location-button {
    width: 100%;
}

#checkin-form-no-vertical-padding {
    padding-bottom: 0;
    padding-top: 0;
}

#checkin-form-legend-no-top-padding {
    padding-top: 0;
}

#checkin-history-table {
    margin-top: 1em;
}

#title {
    font-size: 1.5em;
    display: inline;
    height: 100%;
    width: 1em;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

#minimap {
    width: 80%;
    height: 90%;
    margin-top: 3.7%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #193046;
}

#choices {
    background-color: #175873;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 12.5%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

#HS-box {
    color: white;
    margin: 0;
    padding: 0.5em;
    display: inline-block;
}

#CI-box {
    color: white;
    margin: 0;
    padding: 0.5em;
    display: inline-block;
}

#info {
    width: 100%;
    height: 87.5%;
    padding: 0;
    overflow: scroll;
}

#sign-up-main {
  padding-top: 10vh;
}

#log-in-main {
  padding-top: 10vh;
}

#account-details-grid-elements {
    margin: 0.5em;
}

#homepage-first-block {
    margin-top: 1.2%;
}