* {
    font-family: 'Mukta', sans-serif;
}

body{
    background-color: #FFFFFF;
}

header {
    height: 20%;
    padding: 1em;
    border-bottom: 1px solid #193046;
    background-color: #4189A8;
}

footer {
    width: 100%;
    height: 10%;
    bottom: 0px;
    position: fixed;
    background-color: #343434;
}

.pure-menu-link {
    color: #EEF5FF;
}

.pure-menu-link:hover {
    color: #4189A8;
    background-color: #EEF5FF;
}

.drop-down {
    color:  #193046;
}

.centered-text {
    text-align: center;
}

.rounded-button {
    border-radius: 15px;
}

.centering-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.description-text {
    font-size: small;
}

#right {
    float: right;
}

#left {
    float: left;
}

#checkin-location-button {
    width: 93%;
}