* {
    font-family: 'Mukta', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    height: 100%;
}

#app {
    height: 100%;
}

header {
    height: 10%;
    padding: 0;
    border-bottom: 1px solid white;
    background-color: #4189A8;
}

.pure-menu-horizontal {
    height: 100%;
}

.pure-menu-list {
    height: 100%;
}

.pure-menu-item {
    height: 100%;
}

.flex{
    height: 100%;
    display: flex;
    align-items: center;
}

.pure-menu-link {
    color: #EEF5FF;

}

.flex:hover, .flex:hover > .pure-menu-link {
    color: #4189A8;
    background-color: #EEF5FF;
}


.drop-down {
    color:  #4189A8;
    background-color: #EEF5FF;
}

.drop-down:hover {
    background-color: white;
}

#right {
    float: right;
}

#left {
    float: left;
}

.fa-user {
    padding-left: 0.5em;
}

main {
    height: 80%;
}

footer {
    width: 100%;
    height: 10%;
    bottom: 0px;

    background-color: #343434;
}

